{{ template "base" . }}
{{ define "title" }}
    Die Startseite
{{ end }}
{{ define "content" }}
    <h2 class="font-2xl text-blue-900 text-white">Über uns...</h2>
    <div class="container border bg-gray-400">
        <h4 class="font-xl">Daten</h4>
        <p class="p-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus assumenda sed praesentium quo ullam iure deserunt, culpa est corporis incidunt quibusdam totam iusto ex nemo fugit molestias, accusamus odio laudantium.</p>
    </div>
{{ end }}